.choice-group {
  margin: 16px 0 0 0;
}

.question-text {
  width: 100%;
  height: 30px;
  line-height: 60px;
}

.choice {
  display: flex;
  align-items: start;
  width: 100%;
}

.answer {
  color: var(--success-color);
}

.answer.correct {
  color: var(--success-color);
  margin-left: 16px;
}

.answer.incorrect {
  color: var(--danger-color);
}
