@if (!isSaved && !isTesting && !isReadOnly) {
  <app-matching-header-editing
    [section]="section"
    [isEditing]="!isSaved"
  ></app-matching-header-editing>
}

@if (isTesting) {
  <app-matching-header-testing
    [section]="section"
    [isTesting]="isTesting"
    [(selectedId)]="selectedId"
    (onAnswer)="onAnswer.emit($event)"
  >
  </app-matching-header-testing>
}

@if (isSaved || isReadOnly) {
  <app-matching-header-readonly
    [section]="section"
    [isReadOnly]="isReadOnly"
    [isSaved]="isSaved"
  ></app-matching-header-readonly>
}
