<div class="form-group">
  <div hidden class="audio">
    <audio #audioPlayer controls>
      <source [src]="result.audioUrl" type="audio/mp3" />
    </audio>
  </div>
  <div class="backdrop"></div>
</div>
<div>
  @if (!this.isReady) {
    <input
      class="mt-2"
      placeholder="Student name"
      autocomplete="off"
      name="quizName"
      type="text"
      id="quizName"
      [(ngModel)]="result.studentName"
      required
    />
  } @else {
    <h1>Name: {{ result.studentName }}</h1>
  }
</div>

<mat-card class="timer">
  <h3>
    <app-timer
      [(time)]="testTime"
      [interval]="testTimeoutInterval!"
      (onTimeout)="onTestTimeout()"
    ></app-timer>
  </h3
  >
</mat-card>
@if (isReady &&
result.studentName && true &&
result.studentName !== "") {
  @if (!isStart) {
    <button
      mat-raised-button
      (click)="onStartPart()"
      class="start-button"
      [disabled]="isStart"
    >
      Start
    </button>
  }
  @if (!isStart && currentTab !== 0) {
    &nbsp;
    <app-timer
      [(time)]="startTime"
      [interval]="startTimeoutInterval!"
      (onTimeout)="onStartTimeOut()"
    ></app-timer>
  }
  <mat-tab-group
    dynamicHeight
    (selectedIndexChange)="onChangeTab($event)"
    [(selectedIndex)]="currentTab"
    animationDuration="0ms"
  >
    <mat-tab label="Listening" [disabled]="mapDisablePart[0]">
      <ng-template matTabContent>
        @if (isStart) {
          <div id="question-group">
            <app-listening
              [data]="result.listeningParts[selectedListeningPart]"
              [isTesting]="true"
              [isStart]="isStart"
              [(selectedId)]="selectedId"
              [(selectedQuestionIndex)]="selectedQuestionIndex"
              (onStartChange)="onStartPart()"
              (onPartAnswerQuestion)="onMapAnsweredQuestion($event)"
              (onPartAnswerChoice)="onMapAnswerChoice($event)"
            ></app-listening>
          </div>
          <app-question-navigation
            [parts]="result.listeningParts"
            [partIndex]="selectedListeningPart"
            [mapAnsweredById]="mapAnsweredQuestionId"
            [(selectedId)]="selectedId"
            [(selectedQuestionIndex)]="selectedQuestionIndex"
            (onSelectQuestion)="navigateToQuestion($event)"
            (onReviewQuestion)="onMapReviewQuestion($event)"
          ></app-question-navigation>
        }
        <button
          mat-raised-button
          type="button"
          color="primary"
          class="mt-2"
          (click)="onSubmitPartClick()"
          [disabled]="!isStart"
        >
          Submit
        </button>
      </ng-template>
    </mat-tab>

    <mat-tab label="Reading" [disabled]="mapDisablePart[1]">
      <ng-template matTabContent>
        @if (isStart) {
          <div class="question-group">
            <app-reading
              [data]="result.readingParts[selectedReadingPart]"
              [isTesting]="true"
              [isStart]="isStart"
              [(selectedId)]="selectedId"
              [(selectedQuestionIndex)]="selectedQuestionIndex"
              (onStartChange)="onStartPart()"
              (onPartAnswerQuestion)="onMapAnsweredQuestion($event)"
              (onPartAnswerChoice)="onMapAnswerChoice($event)"
              (onMatchHeaderAnswer)="onMapHeaderAnswered($event, result.readingParts[selectedReadingPart])"
            ></app-reading>
          </div>
          <app-question-navigation
            [parts]="result.readingParts"
            [partIndex]="selectedReadingPart"
            [mapAnsweredById]="mapAnsweredQuestionId"
            [(selectedId)]="selectedId"
            [(selectedQuestionIndex)]="selectedQuestionIndex"
            (onSelectQuestion)="navigateToQuestion($event)"
            (onReviewQuestion)="onMapReviewQuestion($event)"
          ></app-question-navigation>
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="submit-button"
            (click)="onSubmitPartClick()"
            [disabled]="!isStart"
          >
            Submit
          </button>
        }
      </ng-template>
    </mat-tab>

    <mat-tab label="Writing" [disabled]="mapDisablePart[2]">
      <ng-template matTabContent>
        @if (isStart && result.writingParts[selectedWritingPart]) {
          <div class="question-group">
            <app-writing
              [data]="result.writingParts[selectedWritingPart]"
              [isTesting]="true"
              [isStart]="isStart"
              (onStartChange)="onStartPart()"
            ></app-writing>
          </div>
          <app-part-navigation
            [(selectedPart)]="selectedWritingPart"
            [parts]="result.writingParts"
            (onPartChange)="onTabChange('writing', $event)"
          ></app-part-navigation>
        }
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  @if (currentTab === 2) {
    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      (click)="onSubmitPartClick()"
      [disabled]="!isStart"
    >
      Submit
    </button>
  }
} @else {
  <button
    class="mt-2"
    [disabled]="
        !result.studentName || false ||
        result.studentName === ''
      "
    mat-raised-button
    color="primary"
    (click)="onStartTest()"
  >
    Test
  </button>
}
