@switch (question.type) {
  @case (0) {
    <div class="question">
      <app-multiple-choices
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditing]="isEditing"
        [isTesting]="isTesting"
        (onSave)="onSaveQuestion()"
        (onAnswer)="onAnswer.emit($event)"
      ></app-multiple-choices>
    </div>
  }
  @case (1) {
    <div class="question">
      <app-short-answer
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditing]="isEditing"
        [isTesting]="isTesting"
        (onSave)="onSaveQuestion()"
        (onAnswerChoice)="onAnswerChoice.emit($event)"
      ></app-short-answer>
    </div>
  }
  @case (3) {
    <div class="question">
      <app-dropdown-choices
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditing]="isEditing"
        [isTesting]="isTesting"
        (onSave)="onSaveQuestion()"
        (onAnswer)="onAnswer.emit($event)"
      ></app-dropdown-choices>
    </div>
  }
  @case (4) {
    <div class="question">
      <app-label-on-map
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditing]="isEditing"
        [isTesting]="isTesting"
        (onSave)="onSaveQuestion()"
        (onAnswer)="onAnswer.emit($event)"
      ></app-label-on-map>
    </div>
  }
  @case (5) {
    <app-fill-in-the-gap
      [question]="question"
      [isReadOnly]="isReadOnly"
      [isEditing]="isEditing"
      [isTesting]="isTesting"
      (onSave)="onSaveQuestion()"
      (onAnswer)="onAnswer.emit($event)"
      (onAnswerChoice)="onAnswerChoice.emit($event)"
    >
    </app-fill-in-the-gap>
  }
}
