<mat-expansion-panel [expanded]="selectedId() !== '' && selectedId() === question.id">
  <mat-expansion-panel-header style="background: var(--secondary-color)">
    <span [innerHTML]="question.content"> </span>
  </mat-expansion-panel-header>
  @for (choice of question.choices; track $index) {
    <div (click)="onSelectAnswer(choice.id)" class="d-flex align-items-center mt-2">
      <input
        [checked]="selectedChoice === choice.id"
        type="radio"
      >
      <div class="ms-2">
        {{ choice.content }}
      </div>
    </div>
  }
</mat-expansion-panel>
