.container {
  display: flex;
}

.question {
  width: calc(100vw / 2 - 100px);
  margin-right: 10px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  min-height: 2rem;
  min-width: 4rem;
  text-align: center;
}

.choice-item {
  width: fit-content;
  height: fit-content;
}

.icon {
  height: fit-content;
  width: fit-content;
}
