<div class="container">
  <div class="question">
    @if (isEditing) {
      <angular-editor
        class="editor"
        name="questionContent"
        [id]="question.id"
        [(ngModel)]="question.content"
        (ngModelChange)="onPaste($event)"
        [config]="config"
      ></angular-editor>
    } @else {
      <span class="reading-content" textSelection [innerHTML]="question.content"></span>
    }
  </div>

  <div class="table">
    @if (question.subQuestions![0]) {
      <table class="table">
        <tr>
          <th></th>
          @for (choice of question.subQuestions![0].choices; track $index) {
            <th>{{ choiceIndexs[$index] }}</th>
          }

          @if (isEditing) {
            <th>
              <mat-icon color="warn" (click)="onRemoveColumn()">clear</mat-icon>
            </th>
          }
          @if (
            isEditing &&
            question.subQuestions &&
            question.subQuestions.length > 0
          ) {
            <th>
              <mat-icon color="primary" (click)="onAddColumn()">add</mat-icon>
            </th>
          }
        </tr>
        @for (
          question of question.subQuestions;
          track $index;
          let questionIndex = $index
        ) {
          <tr>
            <td>
              @if (isEditing) {
                <input matInput type="text" [(ngModel)]="question.content" />
              } @else {
                {{ question.content }}
              }
            </td>
            @for (
              choice of question.choices;
              track $index;
              let choiceIndex = $index
            ) {
              <td
                class="choice-item"
                (click)="onRowClick(questionIndex, choiceIndex)"
              >
                @if (!isTesting) {
                  @if (isReadOnly) {
                    @if (
                      (question.answer.includes(choice.id) &&
                        question.correctAnswer.includes(choice.id)) ||
                      question.correctAnswer.includes(choice.id)
                    ) {
                      <mat-icon color="primary">check</mat-icon>
                    }

                    @if (
                      question.answer.includes(choice.id) &&
                      !question.correctAnswer.includes(choice.id)
                    ) {
                      <mat-icon color="warn">clear</mat-icon>
                    }
                  } @else {
                    @if (question.correctAnswer.includes(choice.id)) {
                      <mat-icon color="primary">check</mat-icon>
                    }
                  }
                } @else {
                  @if (question.answer.includes(choice.id)) {
                    <mat-icon color="primary">check</mat-icon>
                  }
                }
              </td>
            }
          </tr>
          @if (isEditing) {
            <button
              mat-icon-button
              type="button"
              color="warn"
              class="btn btn-danger"
              (click)="onRemoveRow(questionIndex)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          }
        }
      </table>
    }

    @if (isEditing) {
      <button
        mat-button
        color="primary"
        type="button"
        class="btn btn-primary"
        (click)="addQuestion(1)"
      >
        <mat-icon>add</mat-icon>
        More option
      </button>
    }
  </div>
</div>
