@if (isEditing) {
  <app-short-answer-editing
    [question]="question"
    [isEditing]="isEditing"
    (isInvalid)="isInvalid.emit($event)"
  ></app-short-answer-editing>
}
@if (isTesting) {
  <app-short-answer-testing
    [question]="question"
    [isTesting]="isTesting"
    (onAnswerChoice)="onAnswerChoice.emit($event)"
  ></app-short-answer-testing>
}

@if (isReadOnly || isSaved) {
  <app-short-answer-readonly
    [question]="question"
    [isSaved]="isSaved"
    [isReadOnly]="isReadOnly"
  ></app-short-answer-readonly>
}

