.question {
  margin: 32px 0 0 0;
}

.actions {
  margin: 16px 0 0 0;
}

.question-type-container {
  display: flex;
  margin: 16px 0 0 0;
}

.add-question-button {
  margin: 0 10px 0 0;
}

.choice-group {
  width: 100%;
}
