.choice {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.choice-index {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  background-color: #d8d2d2;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.choice-index.selected {
  background: var(--success-color);
  color: #fff;
}

.choice-index.isWrong {
  background: var(--danger-color);
  color: #fff;
}

.choice-content {
  margin-left: 10px;
  line-height: 4rem;
}

.question-text {
  width: 100%;
}

@media (max-width: 768px) {
  .question-text {
    height: fit-content;
    max-width: 250px;
    word-wrap: break-word;
    white-space: initial;
  }
}
