<div class="container">
  <div class="question-group">
    <angular-editor
      name="reading-question"
      class="editor"
      id="writing-description"
      [config]="config"
      [(ngModel)]="writing.content"
      (ngModelChange)="onPaste($event)"
    ></angular-editor>
    <!-- @if (!isSaved && !isReadOnly && !isTesting) {
    } @else {
      <p [innerHTML]="data.content" class="writing-description"></p>
    } -->
  </div>
  <div class="input-writing">
    <mat-form-field>
      <mat-label>Word count: {{ writing.wordCount }}</mat-label>
      <textarea
        @if(isTesting)
        matInput
        rows="5"
        name="reading-question"
        [(ngModel)]="writing.answer"
        (ngModelChange)="onWritingChange($event)"
      ></textarea>
    </mat-form-field>
  </div>
  @if (isReadOnly) {
    <div class="result-container">
      <mat-form-field>
        <mat-label>Word count: {{ writing.wordCount }}</mat-label>
        <textarea
          matInput
          disabled="true"
          name="reading-question"
          [(ngModel)]="writing.answer"
          [rows]="5"
        ></textarea>
      </mat-form-field>
    </div>
  }
</div>
<div class="save-button">
  <button mat-raised-button color="primary" (click)="onSaveClick(writing)">
    Save and Quit
  </button>
</div>
