@if (isEditing) {
  <app-dropdown-choices-editing
    [question]="question"
    [isEditing]="isEditing"
    (isInvalid)="isInvalid.emit($event)"
    (onSave)="onSave.emit($event)"
  ></app-dropdown-choices-editing>
}

@if (isTesting) {
  <app-dropdown-choices-testing
    [question]="question"
    [isTesting]="isTesting"
    [(selectedId)]="selectedId"
    (onAnswer)="onAnswer.emit($event)"
  ></app-dropdown-choices-testing>
}

@if (isReadOnly || isSaved) {
  <app-dropdown-choices-readonly
    [question]="question"
    [isSaved]="isSaved"
    [isReadOnly]="isReadOnly"
  ></app-dropdown-choices-readonly>
}
