<div class="container">
  <div class="question-group">
    @if (!isSaved && !isReadOnly && !isTesting) {
      <angular-editor
        name="reading-question"
        class="editor"
        [id]="data.id"
        [config]="config"
        [(ngModel)]="data.content"
        (ngModelChange)="onPaste($event)"
      ></angular-editor>
    } @else {
      <span [innerHTML]="data.content" class="writing-description">
        {{ data.content }}
      </span>
    }
  </div>
  @if (isTesting) {
    <div class="input-writing">
      <mat-form-field>
        <mat-label>Word count: {{ data.wordCount }}</mat-label>
        <textarea
          autocomplete="off"
          matInput
          rows="5"
          name="reading-question"
          [(ngModel)]="data.answer"
          (ngModelChange)="onWritingChange($event)"
        ></textarea>
      </mat-form-field>
    </div>
  }
  @if (isReadOnly) {
    <div class="result-container">
      <mat-form-field>
        <mat-label>Word count: {{ data.wordCount }}</mat-label>
        <textarea
          matInput
          disabled="true"
          name="reading-question"
          [(ngModel)]="data.answer"
          [rows]="5"
        ></textarea>
      </mat-form-field>
    </div>
  }
</div>
