<div class="container">
  <div class="question-group">
    @if (!isSaved && !isReadOnly && !isTesting) {
      <angular-editor
        name="reading-question"
        [id]="data.id"
        [config]="config"
        [(ngModel)]="data.content"
      ></angular-editor>
    } @else {
      <span [innerHTML]="data.content"></span>
    }
  </div>
  @if (isTesting) {
    <div class="input-writing">
      <mat-form-field>
        <mat-label>{{ data.answer.length }}</mat-label>
        <textarea
          matInput
          name="reading-question"
          [(ngModel)]="data.answer"
          rows="5"
        ></textarea>
      </mat-form-field>
    </div>
  }
  @if (isReadOnly) {
    <div class="result-container">
      <mat-form-field>
        <mat-label>{{ data.answer.length }}</mat-label>
        <textarea
          matInput
          disabled="true"
          name="reading-question"
          [(ngModel)]="data.answer"
          [rows]="5"
        ></textarea>
      </mat-form-field>
    </div>
  }
</div>
