<div class="editor-renderer">
  @for (block of blocks; track $index) {
    @let i = $index;
    @if (block.type === 'paragraph') {
      <p class="paragraph" [innerHTML]="block.data.text"></p>
    }
    @if (block.type === 'header') {
      <h1
        [ngClass]="{
              'header-1': block.data.level === 1,
              'header-2': block.data.level === 2,
              'header-3': block.data.level === 3,
              'header-4': block.data.level === 4,
              'header-5': block.data.level === 5,
              'header-6': block.data.level === 6
            }"
      >
        {{ block.data.text }}
      </h1>
    }
    @if (block.type === 'shortAnswer') {
      <div>
        @for (item of block.data; track $index) {
          @let j = $index;
          @if (item.type === 'text') {
            <span>{{ item.value }}</span>
          }
          @if (item.type === 'input') {
            <input
              class="cdx-input"
              [(ngModel)]="block.data[j].value"
              (ngModelChange)="updateShortAnswerValue(block.questionId, block.data)"
            />
          }
        }
      </div>
    }
    @if (block.type === 'selectMultiple') {
      @for (option of block.data; track $index) {
        <div class="d-flex flex-row align-items-center">
          <input type="checkbox" [(ngModel)]="option.checked"
                 (ngModelChange)="updateSelectMultipleValue(block.data)">
          <span class="ms-1">{{ option['value'] }}</span>
        </div>
      }
    }
    @if (block.type === 'selectOne') {
      @for (option of block.data; track $index) {
        <div class="d-flex flex-row align-items-center">
          <input type="radio"
                 [name]="block.questionId"
                 [(ngModel)]="block.selectedValue"
                 [value]="option.value"
                 (ngModelChange)="updateSelectOneValue(block.selectedValue)"
          >
          <span class="ms-1">{{ option['value'] }}</span>
        </div>
      }
    }
    @if (block.type === 'dropdown') {
      <select
        [(ngModel)]="block.selectedValue"
        (ngModelChange)="updateDropdownValue(block.selectedValue)"
      >
        @for (option of block.data; track option.id) {
          <option [selected]="option.checked" [value]="option.value">{{ option.value }}</option>
        }
      </select>
    }
    @if (block.type === 'image') {
      <div class="image-block" [ngClass]="{
                  'with-border': block.data.withBorder,
                  'stretched': block.data.stretched,
                  'with-background': block.data.withBackground
                }">
        <img [src]="block.data.file.url" [alt]="block.data.caption || ''" />
        @if (block.data.caption) {
          <div class="caption">{{ block.data.caption }}</div>
        }
      </div>
    }
    @if (block.type === 'quote') {
      <blockquote class="quote" [ngClass]="{'center': block.data.alignment === 'center'}">
        <p>{{ block.data.text }}</p>
        @if (block.data.caption) {
          <cite>{{ block.data.caption }}</cite>
        }
      </blockquote>
    }
    @if (block.type === 'input') {

    }
  }
</div>
