<form [formGroup]="questionForm">
  <div class="question-group">
    <div class="form-group">
      @if (isEditing) {
        <app-editor [holder]="'multiple-choices-editing'"
                    [blocks]="blocks"
                    [isReadOnly]="false"
                    (onEditorChange)="onQuestionDescriptionChange($event)"></app-editor>
      } @else {

        <span [innerHTML]="question.description! | sanitizeHtml"> </span>
      }
    </div>
    @if (questionForm['touched'] && questionForm.invalid) {
      <span class="text-danger ms-2">Required</span>
    }
  </div>
</form>
