<div class="container">
  <h1>Create Quiz</h1>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Quiz Name</mat-label>
      <input
        matInput
        name="quizName"
        type="text"
        class="form-control"
        id="quizName"
        [(ngModel)]="currentQuiz.name"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Time</mat-label>
      <input
        placeholder="Minute"
        matInput
        name="timeout"
        type="number"
        class="form-control"
        id="timeout"
        [(ngModel)]="currentQuiz.timeout"
        required
      />
    </mat-form-field>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Reading">
        <ng-template matTabContent>
          @for (part of currentQuiz.readingParts; track part.id) {
            <mat-card style="margin-top: 16px" appearance="outlined">
              <mat-card-content>
                <div class="reading-container">
                  <app-reading
                    [data]="part"
                    [isSaved]="mapSavedPart[part.id!]"
                  ></app-reading>
                  <div class="actions">
                    <button
                      mat-button
                      color="warn"
                      type="button"
                      class="btn btn-danger"
                      (click)="removeParagraph($index)"
                    >
                      <mat-icon>delete</mat-icon> Delete
                    </button>
                    @if (mapSavedPart[part.id!]) {
                      <button
                        mat-button
                        color="primary"
                        type="button"
                        class="btn btn-danger"
                        (click)="onEditClick(part.id!)"
                      >
                        <mat-icon>edit</mat-icon> Edit
                      </button>
                    } @else {
                      <button
                        mat-button
                        color="primary"
                        type="button"
                        class="btn btn-danger"
                        (click)="onSavePart(part.id!)"
                      >
                        <mat-icon>save</mat-icon> Save
                      </button>
                    }
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          }
          <div class="add-button">
            <button
              mat-button
              color="primary"
              (click)="onAddReadingParagraph()"
              style="margin-top: 16px"
            >
              <mat-icon>add</mat-icon> Add reading paragraph
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Listening">
        <ng-template matTabContent>
          @for (part of currentQuiz.listeningParts; track part.id) {
            <mat-card style="margin-top: 16px" appearance="outlined">
              <mat-card-content>
                <div class="listening-part-container">
                  <app-listening
                    [data]="part"
                    [isSaved]="mapSavedPart[part.id!]"
                  ></app-listening>
                </div>
                <div class="actions">
                  <button
                    mat-button
                    color="warn"
                    type="button"
                    class="btn btn-danger"
                    (click)="removePart($index)"
                  >
                    <mat-icon>delete</mat-icon> Remove
                  </button>
                  @if (mapSavedPart[part.id!]) {
                    <button
                      mat-button
                      color="primary"
                      type="button"
                      class="btn btn-danger"
                      (click)="onEditClick(part.id!)"
                    >
                      <mat-icon>edit</mat-icon> Edit
                    </button>
                  } @else {
                    <button
                      mat-button
                      color="primary"
                      type="button"
                      class="btn btn-danger"
                      (click)="onSavePart(part.id!)"
                    >
                      <mat-icon>save</mat-icon> Save
                    </button>
                  }
                </div>
              </mat-card-content>
            </mat-card>
          }
          <div class="add-button">
            <button
              mat-button
              color="primary"
              (click)="onAddListeningPart()"
              style="margin-top: 16px"
            >
              <mat-icon>add</mat-icon> Add listening part
            </button>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="save-button">
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Save and Quit
  </button>
</div>
