<div class="container">
  <h1>Create Quiz</h1>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Quiz Name</mat-label>
      <input
        autocomplete="off"
        matInput
        name="quizName"
        type="text"
        class="form-control"
        id="quizName"
        [(ngModel)]="currentQuiz.name"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-tab-group animationDuration="0ms">
      <!-- Listening -->
      <mat-tab label="Listening">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["listening"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.listeningTimeout"
                  required
                />
              </mat-form-field>
            }

            <div class="form-group">
              <div class="upload-file">
                <button
                  type="button"
                  mat-raised-button
                  (click)="fileInput.click()"
                >
                  Audio File <mat-icon>upload</mat-icon>
                </button>
                <input
                  autocomplete="off"
                  hidden
                  (change)="onFileSelected($event)"
                  #fileInput
                  type="file"
                  id="file"
                />
                <span class="file-name">&nbsp;{{ currentQuiz.audioName }}</span>
              </div>
            </div>
          </div>

          @if (currentQuiz.listeningParts[selectedListeningPart]) {
            <app-listening
              [(data)]="currentQuiz.listeningParts[selectedListeningPart]"
              [isSaved]="mapSavedPart['listening'][selectedListeningPart]!"
              (onSave)="saveOrEditQuiz(currentQuiz)"
            ></app-listening>
          }
          @if (currentQuiz.listeningParts.length > 0) {
            <div class="actions">
              @if (mapSavedPart["listening"][selectedListeningPart]) {
                <button
                  mat-button
                  color="primary"
                  type="button"
                  class="btn btn-danger"
                  (click)="onEditClick('listening', selectedListeningPart)"
                >
                  <mat-icon>edit</mat-icon> Edit part
                </button>
              } @else {
                <button
                  mat-button
                  color="primary"
                  type="button"
                  class="btn btn-danger"
                  (click)="onSavePart('listening', selectedListeningPart)"
                >
                  <mat-icon>save</mat-icon> Save
                </button>
              }
              <button
                mat-button
                color="warn"
                type="button"
                class="btn btn-danger"
                (click)="removeListeningPart(selectedListeningPart)"
              >
                <mat-icon>delete</mat-icon> Remove part
              </button>
            </div>
          }

          <app-part-navigation
            [(selectedPart)]="selectedListeningPart"
            [parts]="currentQuiz.listeningParts"
            (onPartChange)="onTabChange('listening', $event)"
          ></app-part-navigation>
          <div class="add-button">
            <button
              mat-raised-button
              color="black"
              (click)="onAddListeningPart()"
            >
              <mat-icon>add</mat-icon> Add Part
            </button>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Reading -->
      <mat-tab label="Reading">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["reading"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.readingTimeout"
                  required
                />
              </mat-form-field>
            }
          </div>
          <app-reading
            [data]="currentQuiz.readingParts[selectedReadingPart]"
            [isSaved]="mapSavedPart['reading'][selectedReadingPart]!"
          ></app-reading>
          @if (currentQuiz.readingParts.length > 0) {
            <div class="actions">
              @if (mapSavedPart["reading"][selectedReadingPart]) {
                <button
                  mat-button
                  color="primary"
                  type="button"
                  class="btn btn-danger"
                  (click)="onEditClick('reading', selectedReadingPart)"
                >
                  <mat-icon>edit</mat-icon> Edit part
                </button>
              } @else {
                <button
                  mat-button
                  color="primary"
                  type="button"
                  class="btn btn-danger"
                  (click)="onSavePart('reading', selectedReadingPart)"
                >
                  <mat-icon>save</mat-icon> Save
                </button>
              }
              <button
                mat-button
                color="warn"
                type="button"
                class="btn btn-danger"
                (click)="removeReadingPart(selectedReadingPart)"
              >
                <mat-icon>delete</mat-icon> Remove part
              </button>
            </div>
          }

          <app-part-navigation
            [(selectedPart)]="selectedReadingPart"
            [parts]="currentQuiz.readingParts"
            (onPartChange)="onTabChange('reading', $event)"
          ></app-part-navigation>
          <div class="add-button">
            <button mat-raised-button (click)="onAddReadingParagraph(false)">
              <mat-icon>add</mat-icon> Add Part
            </button>
            <button mat-raised-button (click)="onAddReadingParagraph(true)">
              <mat-icon>add</mat-icon> Add Matching Headings
            </button>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Writeing -->
      <mat-tab label="Writing">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["listening"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.writingTimeout"
                  required
                />
              </mat-form-field>
            }
          </div>
          @if (currentQuiz.writingParts[selectedWritingPart]) {
            <app-writing
              [data]="currentQuiz.writingParts[selectedWritingPart]"
              [isSaved]="mapSavedPart['writing'][selectedWritingPart]!"
            ></app-writing>
            @if (currentQuiz.writingParts.length > 0) {
              <div class="actions">
                @if (mapSavedPart["writing"][selectedWritingPart]) {
                  <button
                    mat-button
                    color="primary"
                    type="button"
                    class="btn btn-danger"
                    (click)="onEditClick('writing', selectedWritingPart)"
                  >
                    <mat-icon>edit</mat-icon> Edit part
                  </button>
                } @else {
                  <button
                    mat-button
                    color="primary"
                    type="button"
                    class="btn btn-danger"
                    (click)="onSavePart('writing', selectedWritingPart)"
                  >
                    <mat-icon>save</mat-icon> Save part
                  </button>
                }
                <button
                  mat-button
                  color="warn"
                  type="button"
                  class="btn btn-danger"
                  (click)="removeWritingPart(selectedWritingPart)"
                >
                  <mat-icon>delete</mat-icon> Remove part
                </button>
              </div>
            }
          }

          <app-part-navigation
            [(selectedPart)]="selectedWritingPart"
            [parts]="currentQuiz.writingParts"
            (onPartChange)="onTabChange('writing', $event)"
          ></app-part-navigation>

          <div class="add-button">
            <button mat-raised-button (click)="onAddWritingParagraph()">
              <mat-icon>add</mat-icon> Add Part
            </button>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="save-button">
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Save and Quit
  </button>
</div>
