<div class="container">
  <h1>Create Quiz</h1>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Quiz Name</mat-label>
      <input
        autocomplete="off"
        matInput
        name="quizName"
        type="text"
        class="form-control"
        id="quizName"
        [(ngModel)]="currentQuiz.name"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Listening">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["listening"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.listeningTimeout"
                  required
                />
              </mat-form-field>
            }

            <div class="form-group">
              <div class="upload-file">
                <button
                  type="button"
                  mat-raised-button
                  (click)="fileInput.click()"
                  style="margin-right: 16px"
                >
                  Audio File <mat-icon>upload</mat-icon>
                </button>
                <input
                  autocomplete="off"
                  hidden
                  (change)="onFileSelected($event)"
                  #fileInput
                  type="file"
                  id="file"
                />
                <span class="file-name">{{
                  selectedFile ? selectedFile.name : this.currentQuiz.audioUrl
                }}</span>
              </div>
            </div>
          </div>
          <mat-tab-group
            animationDuration="0ms"
            mat-align-tabs="center"
            animationDuration="0ms"
            headerPosition="below"
            [(selectedIndex)]="selectedWritingPart"
            (selectedTabChange)="onTabChange('writing', $event)"
          >
            @for (part of currentQuiz.listeningParts; track $index) {
              <mat-tab>
                <ng-template matTabLabel="">{{ $index + 1 }}</ng-template>
                <mat-card class="part-card" appearance="outlined">
                  <mat-card-content>
                    <div>
                      <app-listening
                        [data]="part"
                        [isSaved]="mapSavedPart['listening'][$index]!"
                      ></app-listening>
                    </div>
                    <div class="actions">
                      @if (mapSavedPart["listening"][$index]) {
                        <button
                          mat-button
                          color="primary"
                          type="button"
                          class="btn btn-danger"
                          (click)="onEditClick('listening', $index)"
                        >
                          <mat-icon>edit</mat-icon> Edit part
                        </button>
                      } @else {
                        <button
                          mat-button
                          color="primary"
                          type="button"
                          class="btn btn-danger"
                          (click)="onSavePart('listening', $index)"
                        >
                          <mat-icon>save</mat-icon> Save
                        </button>
                      }
                      <button
                        mat-button
                        color="warn"
                        type="button"
                        class="btn btn-danger"
                        (click)="removeListeningPart($index)"
                      >
                        <mat-icon>delete</mat-icon> Remove part
                      </button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            }
          </mat-tab-group>
          <div class="add-button">
            <button mat-button color="primary" (click)="onAddListeningPart()">
              <mat-icon>add</mat-icon> Add part
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Reading">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["reading"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.readingTimeout"
                  required
                />
              </mat-form-field>
            }
          </div>
          <mat-tab-group
            animationDuration="0ms"
            mat-align-tabs="center"
            animationDuration="0ms"
            headerPosition="below"
            [(selectedIndex)]="selectedWritingPart"
            (selectedTabChange)="onTabChange('reading', $event)"
          >
            @for (part of currentQuiz.readingParts; track $index) {
              <mat-tab>
                <ng-template matTabLabel="">{{ $index + 1 }}</ng-template>
                <mat-card class="part-card" appearance="outlined">
                  <mat-card-content>
                    <div class="reading-container">
                      <app-reading
                        [data]="part"
                        [isSaved]="mapSavedPart['reading'][$index]!"
                      ></app-reading>
                      <div class="actions">
                        @if (mapSavedPart["reading"][$index]) {
                          <button
                            mat-button
                            color="primary"
                            type="button"
                            class="btn btn-danger"
                            (click)="onEditClick('reading', $index)"
                          >
                            <mat-icon>edit</mat-icon> Edit part
                          </button>
                        } @else {
                          <button
                            mat-button
                            color="primary"
                            type="button"
                            class="btn btn-danger"
                            (click)="onSavePart('reading', $index)"
                          >
                            <mat-icon>save</mat-icon> Save
                          </button>
                        }
                        <button
                          mat-button
                          color="warn"
                          type="button"
                          class="btn btn-danger"
                          (click)="removeReadingPart($index)"
                        >
                          <mat-icon>delete</mat-icon> Remove part
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            }
          </mat-tab-group>
          <div class="add-button">
            <button
              mat-button
              color="primary"
              (click)="onAddReadingParagraph()"
            >
              <mat-icon>add</mat-icon> Add part
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Writing">
        <ng-template matTabContent>
          <div class="timeout">
            @if (mapSavedPart["listening"]) {
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input
                  autocomplete="off"
                  placeholder="Minute"
                  matInput
                  name="timeout"
                  type="number"
                  class="form-control"
                  id="timeout"
                  [(ngModel)]="currentQuiz.writingTimeout"
                  required
                />
              </mat-form-field>
            }
          </div>
          <mat-tab-group
            animationDuration="0ms"
            mat-align-tabs="center"
            animationDuration="0ms"
            headerPosition="below"
            [(selectedIndex)]="selectedWritingPart"
            (selectedTabChange)="onTabChange('writing', $event)"
          >
            @for (part of currentQuiz.writingParts; track $index) {
              <mat-tab>
                <ng-template matTabLabel="">{{ $index + 1 }}</ng-template>
                <mat-card style="margin-bottom: 16px" appearance="outlined">
                  <mat-card-content>
                    <app-writing
                      [data]="part"
                      [isSaved]="mapSavedPart['writing'][$index]!"
                    ></app-writing>
                    <div class="actions">
                      @if (mapSavedPart["writing"][$index]) {
                        <button
                          mat-button
                          color="primary"
                          type="button"
                          class="btn btn-danger"
                          (click)="onEditClick('writing', $index)"
                        >
                          <mat-icon>edit</mat-icon> Edit part
                        </button>
                      } @else {
                        <button
                          mat-button
                          color="primary"
                          type="button"
                          class="btn btn-danger"
                          (click)="onSavePart('writing', $index)"
                        >
                          <mat-icon>save</mat-icon> Save part
                        </button>
                      }
                      <button
                        mat-button
                        color="warn"
                        type="button"
                        class="btn btn-danger"
                        (click)="removeWritingPart($index)"
                      >
                        <mat-icon>delete</mat-icon> Remove part
                      </button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            }
          </mat-tab-group>
          <div class="add-button">
            <button
              mat-button
              color="primary"
              (click)="onAddWritingParagraph()"
            >
              <mat-icon>add</mat-icon> Add part
            </button>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="save-button">
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Save and Quit
  </button>
</div>
