@switch (question.type) {
  @case (0) {
    {{ isEditting }}
    <div class="question">
      <app-multiple-choices
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditting]="isEditting"
        [isTesting]="isTesting"
      ></app-multiple-choices>
    </div>
  }
  @case (1) {
    {{ isEditting }}
    <div class="question">
      <app-short-answer
        [question]="question"
        [isReadOnly]="isReadOnly"
        [isEditting]="isEditting"
        [isTesting]="isTesting"
      ></app-short-answer>
    </div>
  }
}
