<div class="d-flex writing-container mt-3">
  <input
    autocomplete="off"
    placeholder="Minute"
    matInput
    name="timeout"
    type="number"
    id="writing-timeout"
    required
  />
  <div class="question-group">
    @if (!isSaved && !isReadOnly && !isTesting) {
      <angular-editor
        name="reading-question"
        class="editor"
        [id]="section!._id!"
        [config]="config"
        [(ngModel)]="section!.content"
        (ngModelChange)="onPaste($event)"
      ></angular-editor>
    } @else {
      <span [innerHTML]="section!.content" class="writing-description">
        {{ section!.content }}
      </span>
    }
  </div>
  @if (isTesting) {
    <div class="input-writing">
      <angular-editor
        class="student-input"
        [config]="testEditorConfig"
        [(ngModel)]="section!.answer"
        (ngModelChange)="onWritingChange($event)"
      ></angular-editor>
      <div>Word count: {{ section!.wordCount }}</div>
    </div>
  }
  @if (isReadOnly) {
    <div class="result-container">
      <angular-editor
        disabled="true"
        class="student-input"
        [config]="testEditorConfig"
        [(ngModel)]="section!.answer"
        (ngModelChange)="onWritingChange($event)"
      ></angular-editor>
      <div>Word count: {{ section!.wordCount }}</div>
    </div>
  }
</div>
