<div class="d-flex" [id]="question.id">
  <div class="col-6">
    <span class="reading-content" [innerHTML]="question.content"></span>
  </div>
  <div class="ms-2">
    @if (question && question.subQuestions) {
      <table>
        <tr>
          <th></th>
          @for (choice of question.subQuestions![0].choices; track $index) {
            <th>{{ choiceIndex[$index] }}</th>
          }
        </tr>
        @for (question of question.subQuestions; track $index; let questionIndex = $index) {
          <tr>
            <td class="p-2">
              {{ question.content }}
            </td>
            @for (choice of question.choices; track $index; let choiceIndex = $index) {
              <td class="align-items-center"
                (click)="onSelectAnswer(questionIndex, choiceIndex)"
              >
                @if (question.answer.includes(choice.id)) {
                  <mat-icon class="icon" color="primary">check</mat-icon>
                }
              </td>
            }
          </tr>
        }
      </table>
    }
  </div>
</div>
