<div class="form-group">
  <b><span [innerHTML]="question.content"></span></b>
</div>
<div class="mt-3">
  @for (choice of question.choices; track $index) {
    @if (choice | isCorrectAnswer) {
      <div class="result">
        <div>
          <b>{{ choice.index }}</b>
        </div>
        <div class="correct-answer">
          {{ choice.answer }}
        </div>
      </div>
    } @else {
      <div class="answer">
        <span class="answer-input">
          <b>{{ choice.index }}</b>
          @if (isReadOnly) {
            <span class="incorrect-answer">
            {{ !choice.answer || choice.answer === "" ? "❌" : choice.answer }}
          </span>
          }
          <span class="correct-answer">
            {{ choice.correctAnswer }}
          </span>
        </span>
      </div>
    }
  }
</div>
