<b><span [innerHTML]="question.content"></span></b>

@if (question.arrayContent) {
  <div class="d-flex flex-column mt-3 ms-2">
    @for (line of question.arrayContent;
      track $index; ) {
      <div class="d-flex flex-wrap align-items-center">
        @for (content of line; track $index; ) {
          <div class="d-flex mb-4">
            @if (content | isInput) {
              @let choiceId = content | extractId;
              @let choice = mapChoiceById[choiceId];
              <div
                class="mx-1 px-2 question__text"
                [ngClass]="{'edit': isEditing}"
              >
                @if (isReadOnly) {
                  <span
                    [ngClass]="{
                      'text-success': choice | isCorrectAnswer,
                      'text-danger': !(choice | isCorrectAnswer)
                    }"
                  >
                      {{ choice.answer ?? '❌' }}
                  </span>
                  @if (!(choice | isCorrectAnswer)) {
                    | <span
                      class="text-success">{{ choice.correctAnswer }}</span>
                  }
                } @else {
                  @if (choice) {
                    <span class="text-success">
                     <input class="mt-1" disabled [value]="mapChoiceById[choiceId].correctAnswer">
                  </span>
                  }
                }
              </div>
            } @else {
              <div
                class="choice-content"
                [ngClass]="{'edit': isEditing}"
              >
                <b>{{ content }}</b>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
}
