<span [innerHTML]="question.content"></span>

@if (question.arrayContent) {
  <div class="d-flex flex-column mt-3 ms-2">
    @for (line of question.arrayContent;
      track $index;
      let lineIndex = $index) {
      <div class="d-flex flex-wrap align-items-center">
        @for (content of line; track $index; let contentIndex = $index) {
          <div class="d-flex mb-4">
            @if (content | isInput) {
              <div
                class="border border-dark mx-1 px-2 question__text"
                [ngClass]="{'edit': isEditing}"
              >
                @if (isReadOnly) {
                  <span
                    [ngClass]="{
                      'text-success': mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer,
                      'text-danger': !(mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer)
                    }"
                  >
                      {{ mapChoiceById[content.match(inputPattern)![1]].answer ?? '❌' }}
                  </span>
                  @if (!(mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer)) {
                    | <span
                      class="text-success">{{ mapChoiceById[content.match(inputPattern)![1]].correctAnswer }}</span>
                  }
                } @else {
                  <span class="text-success">
                    {{ mapChoiceById[content.match(inputPattern)![1]].correctAnswer }}
                  </span>
                }
              </div>
            } @else {
              <div
                class="choice-content"
                [ngClass]="{'edit': isEditing}"
              >{{ content }}
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
}
