<mat-expansion-panel class="dropdown-container" style="box-shadow: none">
  <mat-expansion-panel-header style="background: var(--secondary-color)">
    <span [innerHTML]="question.content"> </span>
  </mat-expansion-panel-header>
  <div class="question-group">
    <angular-editor
      name="questionContent"
      [id]="question.id"
      [config]="config"
      [(ngModel)]="question.content"
      (ngModelChange)="onPaste($event)"
    ></angular-editor>
    <div class="choice-group">
      @for (choice of question.choices; track $index) {
        <div class="d-flex align-items-center mb-2">
          <input [checked]="selectedChoice === choice.id" (click)="onSelectCorrectAnswer(choice.id)"
                 type="radio" />
          <div class="mt-2 ms-2 w-100">
                <textarea
                  autocomplete="off"
                  [disabled]="isReadOnly"
                  [name]="choice.id"
                  type="text"
                  [(ngModel)]="choice.content"
                ></textarea>
          </div>
          <mat-icon (click)="removeChoice($index)" color="warn">delete</mat-icon>
        </div>
      }
    </div>
    <button
      mat-button
      color="primary"
      type="button"
      (click)="addChoice()"
    >
      <mat-icon>add</mat-icon>
      More option
    </button>
  </div>
</mat-expansion-panel>
