@use "@angular/material" as mat;

.part-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.part-item {
  height: 25px;
  width: 25px;
  line-height: 25px;
  margin: 0 3px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba($color: #000000, $alpha: 0.14);
  cursor: pointer;
}

.part-item.active {
  background-color: var(--success-color);
  color: #fff;
}
