<b><span [innerHTML]="question.content"></span></b>

@if (question.tableContent) {
  <div class="d-flex flex-column mt-3 ms-2">
    <table>
      <th [colSpan]="headerColSpan" class="align-middle">
        <p class="my-2">
          {{ question.name }}
        </p>
      </th>
      @for (row of question.tableContent! | keyvalue; track $index; ) {
        <tr>
          @for (column of row.value | keyvalue; track $index; ) {
            <td>
              <div class="d-flex flex-wrap align-items-center m-2"
                   [ngClass]="{'justify-content-center': row.key === 'tr0' || column.key === 'td0'}">
                @for (content of column.value; track $index; ) {
                  <div class="mx-1">
                    @if ((content | isInput) && mapChoiceById[content | extractId]) {
                      <input disabled [value]="mapChoiceById[content | extractId].correctAnswer" />
                    } @else {
                      @if (row.key === 'tr0' || column.key === 'td0') {
                        <b>
                          <p class="my-2">{{ content }}</p>
                        </b>
                      } @else {
                        <p class="my-2">{{ content }}</p>
                      }
                    }
                  </div>
                }
              </div>
            </td>
          }
        </tr>
      }
    </table>
  </div>
}
