<div class="my-2">
  @if (question.tableContent) {
    <b><span [innerHTML]="question.content"></span></b>
    <div class="d-flex flex-column mt-3">
      <table>
        <th [colSpan]="headerColSpan">
          <p class="my-2">
            {{ question.name }}
          </p>
        </th>
        @for (row of question.tableContent! | keyvalue; track $index; ) {
          <tr>
            @for (column of row.value | keyvalue; track $index; ) {
              <td>
                <div class="d-flex flex-wrap align-items-center m-2"
                     [ngClass]="{'justify-content-center': row.key === 'tr0' || column.key === 'td0'}">
                  @for (line of column.value; track $index; ) {
                    @for (content of line; track $index; let contentIndex = $index) {
                      <div class="mx-1">
                        @if ((content | isInput) && mapChoiceById[content | extractId]) {
                          @if (isReadOnly) {
                            <span
                              [ngClass]="{
                            'text-success': mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer,
                            'text-danger': !(mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer)
                          }">
                            {{ !mapChoiceById[content | extractId].answer || mapChoiceById[content | extractId].answer === '' ? '❌' : mapAnswerById[mapChoiceById[content | extractId].answer!].content }}
                          </span>
                            @if (!(mapChoiceById[content | extractId] | isCorrectAnswer)) {
                              | <span
                                class="text-success">{{ mapAnswerById[mapChoiceById[content | extractId].correctAnswer!].content }}</span>
                            }
                          } @else {
                            <input disabled
                                   [value]="mapAnswerById[mapChoiceById[content | extractId].correctAnswer!].content" />
                          }
                        } @else {
                          @if (row.key === 'tr0' || column.key === 'td0') {
                            <b>
                              <p class="my-2">{{ content }}</p>
                            </b>
                          } @else {
                            <p class="my-2">{{ content }}</p>
                          }
                        }
                      </div>
                    }
                  }
                </div>
              </td>
            }
          </tr>
        }
      </table>
    </div>
  }
</div>
