<div class="actions">
  <div class="actions-left">
    <button class="actions__button" mat-raised-button color="primary" (click)="addNewQuiz()">
      <mat-icon>add</mat-icon>
      Test
    </button>
    <button class="actions__button" mat-raised-button (click)="onAddFolderClick()">
      <mat-icon>add</mat-icon>
      <mat-icon>folder</mat-icon>
    </button>
  </div>
  <div class="actions-right">
    @if (isMultipleSelection) {
    <button [disabled]="isEmptySelectedQuiz()" class="actions__button" mat-raised-button
      (click)="onMoveQuizClick(selectedQuizzes())">
      <mat-icon>open_with</mat-icon>
      Move
    </button>
    <button class="actions__button" mat-raised-button (click)="onCancelMultipleChoice()">
      Cancel
    </button>
    } @else {
    <button class="actions__button" mat-raised-button (click)="onClickMultipleChoice()">
      Multiplce select
    </button>
    }
  </div>
</div>
<div class="container" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
  @for (folder of folders; track $index) {
  <app-folder [folder]="folder" (onUpdate)="saveOrUpdateFolder($event)"
    (onDelete)="onDeleteFolder($event)"></app-folder>
  }
  @for (quiz of quizzes; track $index) {
  <mat-card class="card" cdkDrag>
    <mat-card-content class="card-content">
      <h2 class="mat-display-2 card-content-text">
        <mat-icon class="article-icon">article</mat-icon> {{ quiz.name }}
      </h2>
    </mat-card-content>
    <mat-card-actions>
      @if (isMultipleSelection) {
      <mat-checkbox color="primary" [checked]="quiz.id | selected:selectedQuizzes()"
        (change)="onSelectQuiz($event.checked, quiz)"></mat-checkbox>
      } @else {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="test(quiz.id)">Test</button>
        <button mat-menu-item (click)="edit(quiz.id)">Edit</button>
        <button mat-menu-item (click)="onMoveQuizClick([quiz])">Move</button>
        <button mat-menu-item (click)="duplicate(quiz)">Duplicate</button>
        <button mat-menu-item (click)="onDeleteClick(quiz)">Delete</button>
      </mat-menu>
      }
    </mat-card-actions>
  </mat-card>
  }


</div>