.container {
  display: grid;
  max-height: calc(100vh - 300px);
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(10000, 64px);
  grid-gap: 16px;
}

.card {
  display: flex;
  flex-direction: row;
}

.card-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-icon {
  line-height: 2rem;
  padding-right: 1rem;
  color: var(--success-color);
}

.actions {
  display: flex;
  margin: 16px 0;
}

.actions__button {
  margin-right: 10px;
}
