.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10000, 64px);
  grid-gap: 16px;
}

.card {
  display: flex;
  flex-direction: row;
  height: 64px;
  margin: 16px 0;
  min-width: 200px;
  max-width: 400px;
  text-overflow: ellipsis;
}

.card-content {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
