<form>
  @if (isReadOnly) {
    <div class="choice-group">
      @for (choice of question.choices; track $index) {
        @if (choice.answer === choice.correctAnswer) {
          <p class="question-text">
            <b>{{ choice.index }}</b>
            <span class="answer correct" style="margin-left: 10px">
              {{ choice.answer }}
            </span>
          </p>
        } @else {
          <div class="answer">
            <span class="question-text">
              <b>{{ choice.index }}</b>
            </span>
            <span class="answer incorrect" style="margin-left: 10px">{{
              !choice.answer || choice.answer === "" ? "❌" : choice.answer
            }}</span>
            <span class="answer correct" style="margin-left: 32px">
              {{ choice.correctAnswer }}
            </span>
          </div>
        }
      }
    </div>
  } @else {
    <div class="question-group">
      <div class="form-group">
        @if (isEditting) {
          <angular-editor
            [name]="question.id!"
            [config]="config"
            [(ngModel)]="question.content"
          ></angular-editor>
        } @else {
          <span [innerHTML]="question.content"></span>
        }
      </div>

      <div class="choice-group">
        @for (choice of question.choices; track $index) {
          <div class="form-group">
            @if (isEditting) {
              <mat-form-field class="choice-index">
                <mat-label>No.</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  [name]="$index.toString()"
                  type="text"
                  class="form-control"
                  [(ngModel)]="choice.index"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Answer</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  [name]="choice.id!"
                  type="text"
                  class="form-control"
                  [(ngModel)]="choice.correctAnswer"
                />
              </mat-form-field>
            } @else {
              @if (isTesting) {
                <p class="answer-input">
                  <b>{{ choice.index }}&nbsp;</b>
                </p>
                <mat-form-field style="margin-left: 10px;">
                  <mat-label>Answer</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    [name]="choice.id!"
                    type="text"
                    class="form-control"
                    [(ngModel)]="choice.answer"
                  />
                </mat-form-field>
              } @else {
                <p class="answer-input">
                  <b>{{ choice.index }}&nbsp;</b>
                </p>
                <div class="answer correct">
                  {{ choice.correctAnswer }}
                </div>
              }
            }
            <button
              *ngIf="isEditting"
              mat-button
              color="warn"
              type="button"
              class="btn btn-danger"
              (click)="removeChoice($index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
      </div>

      <button
        *ngIf="isEditting"
        mat-button
        color="primary"
        type="button"
        class="btn btn-primary"
        style="margin-top: 16px"
        (click)="addChoice()"
      >
        <mat-icon>add</mat-icon>
        More option
      </button>
    </div>
  }
</form>
