<form>
  <div class="question-group">
    <div class="form-group">
      @if (isEditing) {
        <angular-editor
          name="questionContent"
          [id]="question.id"
          [config]="config"
          [(ngModel)]="question.content"
          (ngModelChange)="onPaste($event)"
        ></angular-editor>
      } @else {
        <span textSelection [innerHTML]="question.content"> </span>
      }
      @if (isReadOnly && question.answer.length === 0) {
        ❌
      }
    </div>

    <div class="choice-group">
      @for (choice of question.choices; track $index) {
        <div class="choice">
          <div
            class="choice-index"
            [ngClass]="{
              selected: isTesting
                ? question.answer.includes(choice.id)
                : question.correctAnswer.includes(choice.id),
              isWrong:
                isReadOnly &&
                question.answer.includes(choice.id) &&
                !question.correctAnswer.includes(choice.id)
            }"
            (click)="onSelectChoice($index)"
          >
            <p>{{ CHOICE_INDEX[$index]  }} </p>
          </div>
          <div class="choice-content">
            @if (isEditing) {
              <mat-form-field>
                <textarea
                  autocomplete="off"
                  [disabled]="isReadOnly"
                  matInput
                  [name]="choice.id"
                  type="text"
                  [(ngModel)]="choice.content"
                ></textarea>
              </mat-form-field>
              <button
                mat-button
                color="warn"
                type="button"
                class="btn btn-danger"
                (click)="removeChoice($index)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            } @else {
              <p class="question-text">{{ choice.content }}</p>
            }
          </div>
        </div>
      }
    </div>
    @if (isEditing) {
      <button
        mat-button
        color="primary"
        type="button"
        class="btn btn-primary"
        (click)="addChoice()"
      >
        <mat-icon>add</mat-icon>
        More option
      </button>
    }
  </div>
</form>
