<div class="d-flex">
  <div class="col-6">
    <b><span class="reading-content" [innerHTML]="question.content"></span></b>
  </div>
  <div>
    @let subQuestions = question.subQuestions;
    @if (subQuestions && subQuestions[0]) {
      <table class="table">
        <tr>
          <th></th>
          @for (choice of subQuestions[0].choices; track $index) {
            <th>{{ choiceIndex[$index] }}</th>
          }
        </tr>
        @for (question of subQuestions; track $index; ) {
          <tr>
            <td>
              {{ question.content }}
              @if (isReadOnly && question.answer.length === 0) {
                ❌
              }
            </td>
            @for (choice of question.choices; track $index; ) {
              <td
                class="choice-item"
              >
                @if (isReadOnly) {
                  @if (question.correctAnswer.includes(choice.id)) {
                    <mat-icon class="icon" color="primary">check</mat-icon>
                  }

                  @if (question.answer.includes(choice.id) &&
                  !question.correctAnswer.includes(choice.id)) {
                    <mat-icon class="icon" color="warn">clear</mat-icon>
                  }
                } @else {
                  @if (question.correctAnswer.includes(choice.id)) {
                    <mat-icon class="icon" color="primary">check</mat-icon>
                  }
                }
              </td>
            }
          </tr>
        }
      </table>
    }
  </div>
</div>
