.question-type-container {
  display: flex;
  margin-top: 16px;
}

.question-group {
  justify-content: center;
  flex: 50%;
  max-height: fit-content;
}

.input-group {
  max-width: calc(100vw / 2);
}

.question-group.unclickable {
  pointer-events: none;
}

.add-question-button {
  margin: 0 10px 0 0;
}

.actions {
  display: flex;
  margin: 16px 0 0 0;
}

.question {
  padding: 16px;
}

.upload-file {
  margin: 0 0 0 0;
}

.backdrop {
  position: relative;
  top: -60px;
  width: 300px;
  height: 54px;
  z-index: 100;
}

.timer {
  position: fixed;
}

.start-button {
  margin-bottom: 16px;
}
