<div class="question-group">
  <div class="form-group">
    @if (isSaved) {
      <app-editor-readonly-renderer [blocks]="blocks"></app-editor-readonly-renderer>
    }
    @if (isReadOnly) {
      <app-editor-result-renderer [questionId]="question._id!" [blocks]="blocks"></app-editor-result-renderer>
    }
  </div>
  <div class="choice-group">
    @for (choice of question.choices; track $index) {
      <div class="d-flex align-items-center">
        @if (isReadOnly) {
          <input disabled [checked]="choice.isCorrect" type="checkbox"
          />
          <div class="ms-2">{{ choice.content }}</div>
        }
        @if (isReadOnly) {
          <div class="ms-2">
            @if (question.numberOfChoices! > 1) {
              <!-- Correct answer -->
              @if (question.correctAnswer.includes(choice._id!)) {
                ✅
              }

              <!-- Incorrect answer -->
              @if (question.answer.includes(choice._id!) && !question.correctAnswer.includes(choice._id!)) {
                ❌
              }
            } @else {
              @if (question.answer.length === 0 && question.correctAnswer.includes(choice._id!)) {
                ✅
              } @else {
                <!-- Correct answer -->
                @if (!question.answer.includes(choice._id!) && question.correctAnswer.includes(choice._id!)) {
                  ✅
                }

                <!-- Student correct answer -->
                @if (question.answer.includes(choice._id!) && question.correctAnswer.includes(choice._id!)) {
                  ✅
                }

                <!-- Student incorrect answer -->
                @if (question.answer.includes(choice._id!) && !question.correctAnswer.includes(choice._id!)) {
                  ❌
                }
              }
            }
          </div>
        }
      </div>
    }
  </div>
</div>
