<b><span [innerHTML]="question.content"></span></b>

@if (question.arrayContent) {
  <div class="d-flex flex-column mt-3 ms-2">
    @for (line of question.arrayContent;
      track $index; ) {
      <div class="d-flex flex-wrap align-items-center">
        @for (content of line; track $index; ) {
          <div class="d-flex mb-4">
            @if (content | isInput) {
              <div
                class="mx-1 px-2 question__text"
                [ngClass]="{'edit': isEditing}"
              >
                @if (isReadOnly) {
                  <span
                    [ngClass]="{
                      'text-success': mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer,
                      'text-danger': !(mapChoiceById[content.match(inputPattern)![1]] | isCorrectAnswer)
                    }"
                  >
                      {{
                      (mapChoiceById[content | extractId].answer! | choiceContent: question.answers!)
                        ?.content ?? '❌'
                    }}
                  </span>
                  @if (!(mapChoiceById[content | extractId] | isCorrectAnswer)) {
                    | <span
                      class="text-success">   {{
                        (mapChoiceById[content | extractId].correctAnswer! | choiceContent: question.answers!)
                          ?.content
                      }}</span>
                  }
                } @else {
                  <input disabled [value]="mapAnswerById[mapChoiceById[content | extractId].correctAnswer!].content">
                }
              </div>
            } @else {
              <div
                class="choice-content"
                [ngClass]="{'edit': isEditing}">
                {{ content }}
              </div>
            }
          </div>
        }

      </div>
    }
  </div>
  @for (answer of question.answers; track $index) {
    <mat-card class="w-50 p-1 my-2">
      {{ answer.content }}
    </mat-card>
  }
}
